<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tasks"></ion-back-button>
    </ion-buttons>
    <ion-title class="clean-title">{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form
    [formGroup]="taskForm"
    (submit)="onSubmit()"
  >
    <ion-item>
      <ion-icon
        name="paper"
        slot="start"
        color="style"
      ></ion-icon>
      <ion-input
        type="text"
        placeholder="Title"
        autofocus="true"
        inputmode="text"
        formControlName="title"
      >
      </ion-input>
      <ion-toggle
        *ngIf="taskId"
        slot="end"
        color="style"
        formControlName="done"
      ></ion-toggle>
    </ion-item>
    <ion-button
      class="style-btn"
      expand="full"
      type="submit"
      [disabled]="taskForm.invalid"
    >
    {{ buttonText }}
    </ion-button>
  </form>
</ion-content>
