<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tasks"></ion-back-button>
    </ion-buttons>
    <ion-title class="clean-title">{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="taskForm" (submit)="onSubmit()">
    <ion-item>
      <ion-icon name="checkmark-circle-outline" slot="start" color="style"></ion-icon>
      <ion-input
        type="text"
        placeholder="Título"
        autofocus="true"
        inputmode="text"
        formControlName="title"
      >
      </ion-input>
      <ion-toggle *ngIf="taskId" slot="end" color="style" formControlName="done"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>{{ startDate }}</ion-label>
      <ion-datetime
        displayFormat="DD MMM YYYY"
        min="2019"
        max="2022"
        pickerFormat="DD/MMM/YYYY"
        formControlName="startDate"
      ></ion-datetime>
    </ion-item>

      <ion-item [hidden]="!repeats">
        <ion-label>Último Dia</ion-label>
        <ion-datetime
          displayFormat="DD MMM YYYY"
          min="2019"
          max="2024-12-31"
          pickerFormat="DD MMM YYYY"
          formControlName="endDate"
        ></ion-datetime>
      </ion-item>

      <ion-item [hidden]="!repeats">
        <ion-label>Dia da Semana</ion-label>
        <ion-select multiple="true" formControlName="weekday">
          <ion-select-option value="Monday">Segunda - Feira</ion-select-option>
          <ion-select-option value="Tuesday">Terça - Feira</ion-select-option>
          <ion-select-option value="Wednesday">Quarta - Feira</ion-select-option>
          <ion-select-option value="Thursday">Quinta - Feira</ion-select-option>
          <ion-select-option value="Friday">Sexta - Feira</ion-select-option>
          <ion-select-option value="Saturday">Sábado</ion-select-option>
          <ion-select-option value="Sunday">Domingo</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Horário</ion-label>
        <ion-datetime
          displayFormat="HH mm"
          pickerFormat="HH mm"
          formControlName="hour"
        ></ion-datetime>
      </ion-item>

    <ion-button fill="clear" color="style" expand="full" (click)="onRepeats()">
      Repetir
    </ion-button>
    <ion-button expand="full" type="submit" [disabled]="taskForm.invalid">
      {{ buttonText }}
    </ion-button>
  </form>
</ion-content>
