<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-toggle>
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
  </ion-buttons>

  <ion-title>
    <ion-item detail-none no-lines color="transparent" *ngIf="user; else titleTemplate">
      <ion-avatar item-left>
        <img [src]="user.photo || 'assets/images/no-photo.jpg'" />
      </ion-avatar>
      {{ title }}
    </ion-item>

    <ng-template #titleTemplate>
      {{ title }}
    </ng-template>
  </ion-title>

  <ion-buttons slot="primary">
    <ion-button icon-only (click)="onLogout()">
      <ion-icon name="exit"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
