<ion-header>
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-message-box
    *ngFor="let m of viewMessages | async"
    [message]="m"
    [isFromSender]="m.userId === sender.$key"
  ></app-message-box>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item no-lines>
      <ion-avatar item-left>
        <img [src]="recipient.photo || 'assets/images/no-photo.jpg'" />
      </ion-avatar>
      <ion-input
        type="text"
        (keyup.enter)="sendMessage(newMessage); newMessage = ''"
        placeholder="{{ recipient.name }}"
        [(ngModel)]="newMessage"
      ></ion-input>
      <ion-button slot="end" (click)="sendMessage(newMessage); newMessage = ''">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
