<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
      <ion-label color="primary">Home</ion-label>
      <ion-badge>3</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="pulse" color="style"></ion-icon>
      <ion-label color="style">Histórico</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon mode="ios" name="chatbubbles" color="style"></ion-icon>
      <ion-label color="style">Mensagens</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user-profile">
      <ion-icon name="settings" color="style"></ion-icon>
      <ion-label color="style">Configurações</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
