page-home {
      ion-header, 
      .toolbar-background {
        background-color: initial !important;
        
        &:after {
          height: 0  !important;
        }
      }

      .toolbar-title {
          color: rgb(63, 63, 63) !important;
          background-color: color($colors, light) !important;
          position: absolute !important;
          left: -22px;
          top: 36% !important;
          text-align: center !important;
          font-size: 30px !important;
          font-weight: 300 !important;
      }

      ion-title {
        height: 50px !important;
      }

      ion-searchbar {
        position: absolute !important;
        top: 5px !important;
        width: calc(100% - 10px);
      }
}
