<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tasks"></ion-back-button>
    </ion-buttons>
    <ion-title class="clean-title">{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Data e Hora</ion-label>
    <ion-datetime display-format="MMM DD, YYYY HH:mm" [(ngModel)]="date"></ion-datetime>
  </ion-item>
  <ion-list *ngFor="let info of infos">
    <ng-container *ngIf="!info.textArea; else textArea">
      <ion-item>
        <ion-label position="floating">{{ info.title }}</ion-label>
        <ion-input [(ngModel)]="info.value"></ion-input>
      </ion-item>
    </ng-container>
    <ng-template #textArea>
      <ion-item>
        <ion-label position="floating">{{ info.title }}</ion-label>
        <ion-textarea [(ngModel)]="info.value"></ion-textarea>
      </ion-item>
    </ng-template>
  </ion-list>
  <ion-button expand="full" type="submit" (click)="onAdd()">
    Adicionar
  </ion-button>
</ion-content>
