<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="cardId">
      <ion-back-button defaultHref="/tasks"></ion-back-button>
    </ion-buttons>
    <ion-title class="clean-title">Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="clean-content">
  <div class="timeline" *ngIf="records$ | async as records">
    <div class="container left" *ngFor="let record of records">
      <div class="style-div icon">
        <ion-icon name="hourglass"></ion-icon>
      </div>

      <ion-card class="content">
        <h2>{{ record.date | date: 'EEE, MMM d' }}</h2>
        <p>{{ record.title }}</p>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" *ngIf="cardId">
  <ion-fab-button class="style-btn" routerLink="/add-record/{{ cardId }}" routerDirection="forward">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
