page-notification {
    .scroll-content {
        margin-top: 0 !important;
      }
  
      ion-header, 
      .toolbar-background {
        background-color: initial !important;
        
        &:after {
          height: 0  !important;
        }
      }
      .toolbar-title {
        position: absolute !important;
        text-align: center !important;
        font-size: 20px !important;
        font-weight: 300 !important;
      }

      ion-list {
          margin-right: -25% !important;
        margin-left: -5% !important;
      }
      ion-item {
        margin-right: -25% !important;
        margin-left: -8% !important;
        font-size: 12px !important;
        text-align: center;


        margin-top: 14px;
      }

      ion-content{
        top: 10px !important;
    } 
}
ion-popover {
    width: 50% !important;
    height: 50% !important;
  }