.user-info {
  .round {
    position: absolute;
    top: 20px;
    left: calc(50% - 75px);
    display: block;
    border-radius: 10px 10px 10px 0px;
    width: 150px;
    height: 150px;
    object-fit: cover
  }

  h2 {
    margin-top: 170px;
  }

  p {
    margin-top: -10px;
  }
}
