message-box {

   display: flex;
   margin-bottom: 10px;
   margin-left: 30px;

    .text {
        background-color: map-get($colors, dolphin);
        padding: 0px 10px;
        
        border-radius: 12px;
        margin-left: 10px;
        margin-right: 10px;
        color: #efefef;
        // p {
        //     font-size: 1.1em;
        //     margin: 0;
        // }
        // p.timestamp {
        //     font-size: 0.7em;
        //     margin-top: 5px;
        //     color: #efefef;
        // }
    }

    .sender-background {
        background-color: #e9eaec;
        color: #333;
        // p.timestamp {
        //     color: #333;
        // }
    }

}
