<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-segment *ngIf="!currentUser?.isPatient" [(ngModel)]="view">
      <ion-segment-button value="chats">
        Chats
      </ion-segment-button>
      <ion-segment-button value="users">
        Users
      </ion-segment-button>
    </ion-segment>

    <ion-title class="clean-title" *ngIf="currentUser?.isPatient">Mensagens</ion-title>
  </ion-toolbar>

  <ion-searchbar mode="ios" (ionInput)="filterItems($event)"></ion-searchbar>
</ion-header>

<ion-content class="clean-content" padding>
  <div [ngSwitch]="view">
    <ion-list *ngSwitchCase="'chats'" no-lines>
      <div ion-item *ngFor="let chat of chats | async" (click)="onChatOpen(chat)">
        <ion-row>
          <ion-col class="center-left">
            <img class="round" [src]="chat.photo || 'assets/images/no-photo.jpg'" />
          </ion-col>

          <ion-col class="center-col">
            <ion-row>
              <div class="chat-title">{{ chat.title }}</div>
            </ion-row>
            <ion-row>
              <div class="headline">
                {{ chat.headline }}
              </div>
            </ion-row>
          </ion-col>

          <ion-col class="right-col">
            <div class="chat-date" *ngIf="chat.lastMessage;">
              {{ chat.timestamp | date: 'EEE, MMM d' }}
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="message-row">
          <div class="chat-message" *ngIf="chat.lastMessage; else customMessage">
            {{ chat.lastMessage }}
          </div>
          <ng-template #customMessage>
            <p>No messages</p>
          </ng-template>
        </ion-row>


        <hr>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'users'" no-lines>
      <ion-item *ngFor="let user of users | async" (click)="onChatCreate(user)">
        <ion-avatar slot="start">
          <img [src]="user.photo || 'assets/images/no-photo.jpg'" />
        </ion-avatar>
        {{ user.name }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
