page-my-health {

    .scroll-content {
      margin-top: 0 !important;
    }

    ion-header, 
    .toolbar-background {
      background-color: initial !important;
      
      &:after {
        height: 0  !important;
      }
    }

    .toolbar-title {
        color: rgb(63, 63, 63) !important;
        background-color: color($colors, light) !important;
        position: absolute !important;
        top: 36% !important;
        text-align: center !important;
        font-size: 30px !important;
      //  font-family: 'FontAwesome' !important;
        font-weight: 300 !important;
    }

    ion-title {
      height: 50px !important;
    }

    ion-icon {
        color:color($colors, primary, secondary);
    }

    // seta a posição inicial
    ion-content{
        position: absolute !important;
        top: 50px !important;
        background: url('./../assets/images/backgroud.png')
         center no-repeat ;
         background-position-y: 20px;
    } 
    .div {
        text-align: center !important;
        font-size: 12px !important;
        font-family: 'FontAwesome' !important;
        font-weight: 100 !important; 
    }
    
    div.first-text {
      position: relative !important;
      top: 5px !important;
      text-align: center !important;
      color: rgb(150, 150, 150) !important;
    }

    div.second-text {
        position: relative !important;
        top: 5px !important;
        text-align: center !important;
        color: rgb(150, 150, 150) !important;
    }

    div.detail-button{
        position: relative !important;
        top: 10px !important;
        text-align: center !important;
        
    }
    button.bsize{
        width: 105px !important;
        height: 30px !important;

        font-size: 12px !important;
        font-weight: 150 !important; 
    }

    .col1
    {
        float: left;
        width: calc(50% + 15px);
        margin: 0!important;
        padding: 0  !important;
        margin-right: -5px !important;
        margin-left: -10px !important;

    }

    .col2
    {
        float: left;
        width: calc(50% + 15px);
        margin: 0!important;
        margin-left: -5px !important;
        margin-right: -10px !important;
    }

    .row1{
      position: relative !important;
      top: 35px !important;
      float: top !important;
      margin-bottom: -5% !important;
  }
  .row2{
    position: relative !important;
      top: 25px !important;

  }

  ion-card {
   // margin: 0!important;
        padding: 0  !important;
    position: relative;
    text-align: center;
    min-height: 160px !important;
    background-color: map-get($colors, itemLight) !important;
    box-shadow: none !important;
    border-radius: 8px !important;

    .card-title {
      position: absolute;
      top: 6px;
      left: 6px;
      font-size: 16px;
      color: map-get($colors, textGray);
    }
  
    .card-subtitle {
      font-size: 16;
      position: absolute;
      top: calc(50% - 30px);//calc(50% - 8px);
      width: 100%;
      color: map-get($colors, textGray);
    }

    .buttonsRows {

      button {
        width: 29px;
        height: 29px;
        //background: map-get($colors, primary);
        ion-icon {
         // float: center !important;
          position: absolute !important;
          top: 7px !important;
          height: 15px;
        }
      }

      .buttonsCol1 {
        position: absolute !important;
        bottom: 5px;
        left: 5px;
        color: map-get($colors, textGray);

        button {
          box-shadow: none !important;
        }
      }
      .buttonsCol2 {
        position: absolute !important;
        bottom: 5px;
        left: 35px;

        button {
          box-shadow: none !important;
        }
      }
      .buttonsCol3 {
        position: absolute !important;
        bottom: 5px;
        right: 5px;
      }
    }


    // Efect message

    .Iam {
      //padding: 2em 5em;
      padding: 16px 16px;

      font-size: 16px;
     // font-family: 'FontAwesome';
        font-weight: 100 !important;
     line-height: 16px;

     // font: normal 16px/16px FontAwesome, normal, 100;
      color: map-get($colors, textGray);
    }
    .Iam p {
     // font-size: 16;
     // position: absolute;
     // top: calc(50% - 30px);
     // width: 100%;
     // color: map-get($colors, textGray);
      height: 16px;
      //height: 50px;
      float: left;
      margin-right: 0.3em;
      color: map-get($colors, textGray);
    }
    .Iam b {
      float: left;
      overflow: hidden;
      position: relative;
      //height: 50px;
      height: 16px;
      top: 0px;
      //top: 40px;
    }
    .Iam .innerIam {
      display: inline-block;
      //color: #e74c3c;
      color: map-get($colors, textGray);
      position: relative;
      white-space: nowrap;
      top: 0;
      left: 0;

      font-weight: 100 !important;
      font-size: 14px;
    
    
    /*animation*/
    -webkit-animation:move 5s;
       -moz-animation:move 5s;
        -ms-animation:move 5s;
         -o-animation:move 5s;
            animation:move 5s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count:infinite;
       -moz-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
         -o-animation-iteration-count:infinite;
            animation-iteration-count:infinite;
    /*animation-delay*/
    -webkit-animation-delay:1s;
       -moz-animation-delay:1s;
        -ms-animation-delay:1s;
         -o-animation-delay:1s;
            animation-delay:1s;
    }
    @keyframes move{
    0%  { top: 0px; }
    20% { top: -16px; }
        40% { top: -32px; }
        60% { top: -48px; }
        80% { top: -64px; }
    }
    
    @-webkit-keyframes move {
        0%  { top: 0px; }
        20% { top: -16px; }
        40% { top: -32px; }
        60% { top: -48px; }
        80% { top: -64px; }
    }
    @-moz-keyframes move {
        0%  { top: 0px; }
        20% { top: -16px; }
        40% { top: -32px; }
        60% { top: -48px; }
        80% { top: -64px; }
    }
    @-o-keyframes move {
        0%  { top: 0px; }
        20% { top: -16px; }
        40% { top: -32px; }
        60% { top: -48px; }
        80% { top: -64px; }
    }
    @keyframes move {
        0%  { top: 0px; }
        20% { top: -16px; }
        40% { top: -32px; }
        60% { top: -48px; }
        80% { top: -64px; }
    }





  }

  

  








}
