// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.scroll-content {
  margin-top: 0 !important;
}

.md ion-header,
.toolbar-background {
  &:after {
    height: 0 !important;
  }
}

.md ion-title {
  --height: 50px !important;
  font-size: 30px !important;
  font-weight: 300 !important;
  width: 100%;
  left: 0% !important;
  //new
  position: absolute !important;
  left: 50%;
  top: 11px !important;

  text-align: center !important;
}

ion-button {
  font-family: 'Roboto', sans-serif !important;
  // font-weight: 700 !important;
  // text-transform: none;
  // font-size: 16px !important;
}

.md .clean-title {
  position: absolute !important;
  top: 36% !important;
}

.clean-content {
  position: absolute !important;
  top: 50px !important;
}

.icon-3em {
  font-size: 3em;
}

.style-toolbar {
  --background: #2cb6c5;
  --background: -moz-linear-gradient(45deg, #007eb7 0%, #2cb6c5 100%);
  --background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, #007eb7),
    color-stop(100%, #2cb6c5)
  );
  --background: -webkit-linear-gradient(45deg, #007eb7 0%, #2cb6c5 100%);
  --background: -o-linear-gradient(45deg, #007eb7 0%, #2cb6c5 100%);
  --background: -ms-linear-gradient(45deg, #007eb7 0%, #2cb6c5 100%);
  --background: linear-gradient(45deg, #007eb7 0%, #2cb6c5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cb9c4', endColorstr='#3dd3ae', GradientType=1 );

  --color: #ffffff;
}

.style-btn {
  --background: #2cb6c5;
  --background: -moz-linear-gradient(45deg, #007eb7 0%, #2cb6c5 100%);
  --background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, #007eb7),
    color-stop(100%, #2cb6c5)
  );
  --background: -webkit-linear-gradient(45deg, #007eb7 0%, #2cb6c5 100%);
  --background: -o-linear-gradient(45deg, #007eb7 0%, #2cb6c5 100%);
  --background: -ms-linear-gradient(45deg, #007eb7 0%, #2cb6c5 100%);
  --background: linear-gradient(45deg, #007eb7 0%, #2cb6c5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cb9c4', endColorstr='#3dd3ae', GradientType=1 );

  --color: #ffffff;
}

.card-notification {
  --background: #f37021;
  --background: -moz-linear-gradient(45deg, #c84a23 0%, #f37021 100%);
  --background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, #c84a23),
    color-stop(100%, #f37021)
  );
  --background: -webkit-linear-gradient(45deg, #c84a23 0%, #f37021 100%);
  --background: -o-linear-gradient(45deg, #c84a23 0%, #f37021 100%);
  --background: -ms-linear-gradient(45deg, #c84a23 0%, #f37021 100%);
  --background: linear-gradient(45deg, #c84a23 0%, #f37021 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cb9c4', endColorstr='#3dd3ae', GradientType=1 );

  --color: #ffffff;
}

* {
  font-family: 'Lato', sans-serif;
  // https://fonts.google.com/specimen/Lato
}

.totvs-colors-fonts {
  // ÍCONES
  color: #ffffff;
  color: #000000;
  color: #f37021;
  color: #007eb7;
  color: #2cb6c5;
  color: #faa735;

  //OUTRAS CORES
  color: #443c39;
  color: #807870;
  color: #5b504c;
  color: #0c9abe;
  color: #ea9b3e;

  color: #272054;
  color: #0d729c;
  color: #29b6c5;
  color: #c84a23;

  color: #f5a922;
  color: #172e73;
  color: #ebebeb;
  color: #d5d0cd;

  /*
    Fontes:

    Lato Black
    Lato Regular

    Tahoma Bold
    Tahoma Regular
  */
}
