// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.scroll-content {
  margin-top: 0 !important;
}

ion-header,
.toolbar-background {
  &:after {
    height: 0 !important;
  }
}

ion-title {
  --height: 50px !important;
  font-size: 30px !important;
  font-weight: 300 !important;
  width: 100%;
  left: 0% !important;
  //new
  position: absolute !important;
  left: 50%;
  top: 11px !important;

  text-align: center !important;
}

.clean-title {
  position: absolute !important;
  top: 36% !important;
}

.clean-content {
  position: absolute !important;
  top: 50px !important;
}

.icon-3em {
  font-size: 3em;
}

.style-toolbar {
  --background: #2CB6C5;
  --background: -moz-linear-gradient(45deg, #007EB7 0%, #2CB6C5 100%);
  --background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, #007EB7),
    color-stop(100%, #2CB6C5)
  );
  --background: -webkit-linear-gradient(45deg, #007EB7 0%, #2CB6C5 100%);
  --background: -o-linear-gradient(45deg, #007EB7 0%, #2CB6C5 100%);
  --background: -ms-linear-gradient(45deg, #007EB7 0%, #2CB6C5 100%);
  --background: linear-gradient(45deg, #007EB7 0%, #2CB6C5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cb9c4', endColorstr='#3dd3ae', GradientType=1 );

  --color: #ffffff;
}

.style-btn {
  --background: #2CB6C5;
  --background: -moz-linear-gradient(45deg, #007EB7 0%, #2CB6C5 100%);
  --background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, #007EB7),
    color-stop(100%, #2CB6C5)
  );
  --background: -webkit-linear-gradient(45deg, #007EB7 0%, #2CB6C5 100%);
  --background: -o-linear-gradient(45deg, #007EB7 0%, #2CB6C5 100%);
  --background: -ms-linear-gradient(45deg, #007EB7 0%, #2CB6C5 100%);
  --background: linear-gradient(45deg, #007EB7 0%, #2CB6C5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cb9c4', endColorstr='#3dd3ae', GradientType=1 );

  --color: #ffffff;
}

.card-notification {
  --background: #F37021;
  --background: -moz-linear-gradient(45deg, #C84A23 0%, #F37021 100%);
  --background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, #C84A23),
    color-stop(100%, #F37021)
  );
  --background: -webkit-linear-gradient(45deg, #C84A23 0%, #F37021 100%);
  --background: -o-linear-gradient(45deg, #C84A23 0%, #F37021 100%);
  --background: -ms-linear-gradient(45deg, #C84A23 0%, #F37021 100%);
  --background: linear-gradient(45deg, #C84A23 0%, #F37021 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cb9c4', endColorstr='#3dd3ae', GradientType=1 );

  --color: #ffffff;
}


.totvs-colors-fonts {
  // ÍCONES
  color: #FFFFFF;
  color: #000000;
  color: #F37021;
  color: #007EB7;
  color: #2CB6C5;
  color: #FAA735;

  //OUTRAS CORES
  color: #443C39;
  color: #807870;
  color: #5B504C;
  color: #0C9ABE;
  color: #EA9B3E;

  color: #272054;
  color: #0D729C;
  color: #29B6C5;
  color: #C84A23;

  color: #F5A922;
  color: #172E73;
  color: #EBEBEB;
  color: #D5D0CD;

  /*
    Fontes:

    Lato Black
    Lato Regular

    Tahoma Bold
    Tahoma Regular
  */
}
