<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" (click)="onNotification($event)">
        <ion-icon name="ios-notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Minha Saúde</ion-title>

    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="onInformation()">
        <ion-icon name="ios-information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="card-background-page">
  <div class="first-text">Juntos estamos fazendo sua saúde crescer.</div>
  <div class="second-text">Olá, Daniel Maurer</div>
  <div text-center class="detail-button">
    <ion-button class="bsize" shape="round">APONTAMENTOS</ion-button>
  </div>

  <div class="row1">
    <div class="col1">
      <ion-card (click)="onToDos()">
        <div class="card-title">Tarefas</div>
        <div class="card-subtitle">
          15 dias corridos caminhada<br />
          Medir a pressão às 18h<br />
          Tomar dipirona às 19h
        </div>
        <div class="buttonsRows">
          <div class="buttonsCol1">
            <ion-button slot="icon-only" shape="round" color="itemLight">
              <ion-icon name="md-medkit" color="textGray"></ion-icon>
            </ion-button>
          </div>
          <div class="buttonsCol2">
            <ion-button slot="icon-only" shape="round" color="itemLight">
              <ion-icon name="md-calendar" color="textGray"></ion-icon>
            </ion-button>
          </div>
          <div class="buttonsCol3">
            <ion-button slot="icon-only" shape="round">
              <ion-icon name="repeat" color="light"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-card>
    </div>
    <div class="col2">
      <ion-card (click)="onMessage()">
        <div class="card-title">Mensagens</div>
        <div class="card-subtitle">
          <div class="Iam">
            <p>Dr. Marcelo</p>
            <b>
              <div class="innerIam">
                Bom dia!<br />
                Tudo bem?<br />
                Temos consulta para<br />
                o dia 30.<br />
                Aguardo confirmação.
              </div>
            </b>
          </div>

          <!--
              <br />4 mensagens

              -->
        </div>
        <div class="buttonsRows">
          <div class="buttonsCol1">
            4 mensagens
          </div>
        </div>
      </ion-card>
    </div>
  </div>

  <div class="row2">
    <div class="col1">
      <ion-card>
        <div class="card-title">Gráficos</div>
        <div class="card-subtitle">
          <br />
          Veja detalhes de sua saúde.
        </div>
        <div class="buttonsRows">
          <div class="buttonsCol1">
            <ion-button slot="icon-only" shape="round" color="itemLight">
              <ion-icon name="ios-notifications-outline" color="textGray"></ion-icon>
            </ion-button>
          </div>
          <div class="buttonsCol3">
            <ion-button slot="icon-only" shape="round">
              <ion-icon name="ios-information-circle-outline" color="light"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-card>
    </div>
    <div class="col2">
      <ion-card>
        <div class="card-title">Meu Histórico</div>
        <div class="card-subtitle"><br />2 novos atendimentos</div>
        <div class="buttonsRows">
          <div class="buttonsCol1">
            <ion-button slot="icon-only" shape="round" color="itemLight">
              <ion-icon name="ios-notifications-outline" color="textGray"></ion-icon>
            </ion-button>
          </div>
          <div class="buttonsCol3">
            <ion-button slot="icon-only" shape="round">
              <ion-icon name="ios-information-circle-outline" color="light"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
