.round {
  position: absolute;
  top: 20px;
  left: calc(50% - 20px);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 10px 0px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.title {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 55px !important;
  font-size: 20px !important;
  font-weight: bold !important;
}
.sub-title {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 85px !important;
  font-size: 16px !important;
  font-weight: normal !important;
}

.progress {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 120px !important;
  font-size: 12px !important;
  font-weight: normal !important;
  color: #999999;
}

.slides {
  position: absolute;
  top: 170px !important;
  width: 100%;
  background-color: var(--color-item-light) !important;
}

.projects {
  margin-left: 10px;
  font-size: 15px !important;
  font-weight: bold !important;
}

ion-card {
  height: 100px !important;
  width: 120px !important;
  min-width: 120px !important;
  margin: 10px;

  border-radius: 10px 10px 10px 0px !important;

  .card-icon {
    position: absolute;
    left: 8px;
    top: 8px;

    color: #ffffff !important;
    width: 25px;
    height: 25px;
  }

  .card-title {
    position: absolute;
    left: 8px;
    bottom: 8px;
    max-width: 104px;

    text-align: left;
    vertical-align: text-bottom;
    font-size: 15px !important;
    font-weight: normal !important;
    color: #ffffff;
  }
}

.organize {
  --background: var(--ion-color-style);
}

.tasks {
  position: absolute;
  width: 100% !important;
  top: 340px;
  ion-item {
    margin-right: 50px;
  }
  ion-label {
    width: 100% !important;
  }

  .task-title {
    font-size: 12px;
  }
}

ion-fab {
  bottom: 11px !important;
}

.list-md{
  padding-bottom: 68px !important;
}

.btn-new
{



    position:absolute;
    z-index:2;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    line-height: 52px;
    --box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12) !important;

    .button-native {
      background: linear-gradient(45deg, #007eb7 100%, #2cb6c5 100%);
    }
   width:calc(100% - 89px);
   height:52px;

     --border-radius: 10px 10px 10px 0px;
    left: 11px;
    bottom: 10px;
  }


.animate-btn {
  animation: animation-btn 1500ms;
  animation-delay: 2500ms;
  animation-fill-mode: forwards;
}

.animate-btn-bg {
  animation: animation-btn-bg 1000ms;
  animation-delay: 3000ms;
  animation-fill-mode: forwards;
}


@keyframes animation-btn-bg {
  from {
opacity: 1;
  }
  to {
opacity: 0;
  }
}






@keyframes animation-btn {
  0% {
   bottom: 10px;
   width:calc(100% - 89px);
   height:52px;
   left: 11px;
  --border-radius: 10px 10px 10px 0px;
  opacity: 1;
  }
  20% {
    bottom: 16px;

    width: 30px ;
    height: 30px ;
    --border-radius: 20px;
     left:calc(50% - 58px);
     transform: scale(0.8);
     opacity: 1;
     font-size: 0.5px;
  }
  30% {
bottom: 16px;
    width: 30px ;
    height: 30px ;
    --border-radius: 20px;
     left:calc(50% - 58px);
    transform: scale(1.2);
    opacity: 1;
    font-size: 1px;
  }
  40% {
bottom: 16px;
    width: 30px ;
    height: 30px ;
    --border-radius: 20px;
     left:calc(50% - 58px);
    transform: scale(1);
    opacity: 1;
    animation-timing-function: cubic-bezier(.76,.05,.86,.06);
    font-size: 0.5px;
  }
  60% {
bottom: 16px;
    width: 30px ;
    height: 30px ;
    --border-radius: 20px;
     left:calc(50% - 58px);
    left: calc(100% - 56px);
    opacity: 0.4;
    animation-timing-function: cubic-bezier(.76,.05,.86,.06);
    font-size: 0.5px;
  }
  100% {
    bottom: 16px;
    width: 30px ;
    height: 30px ;
    --border-radius: 20px;
     left:calc(50% - 58px);
     left: calc(100% - 56px);
     font-size: 0.5px;
  }
}

.btn-new-bg{
    position:absolute;
    width:100% !important;
    height:16px !important;
    left: 0px;
    bottom: 66px;
    z-index:1;

    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.95));
    background-repeat: repeat-y;

}

.btn-new-bg2 {
    position:absolute;
    width:100% !important;
    height:66px !important;
    left: 0px;
    bottom: 0px;
    z-index:1;
  background: #fff;

}

