.round {
  position: absolute;
  top: 20px;
  left: calc(50% - 20px);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 10px 0px;
  width: 40px;
  height: 40px;
}

.title {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 55px !important;
  font-size: 20px !important;
  font-weight: bold !important;
}
.sub-title {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 85px !important;
  font-size: 16px !important;
  font-weight: normal !important;
}

.progress {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 120px !important;
  font-size: 12px !important;
  font-weight: normal !important;
  color: #999999;
}

.slides {
  position: absolute;
  top: 170px !important;
  width: 100%;
  background-color: var(--color-item-light) !important;
}

.projects {
  margin-left: 10px;
  font-size: 15px !important;
  font-weight: bold !important;
}

ion-card {
  height: 160px !important;
  width: 140px !important;

  box-shadow: none !important;
  border-radius: 10px 10px 10px 0px !important;

  ion-card-subtitle {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 16px;
    color: #ffffff;
  }

  ion-card-title {
    font-size: 16;
    position: absolute;
    top: calc(50% - 30px);
    width: 100%;
    color: #ffffff;
  }
}

.tasks {
  position: absolute;
  width: 100% !important;
  top: 400px;
  ion-item {
    margin-right: 50px;
  }
  ion-label {
    // position: absolute;
    width: 100% !important;
  }
}

ion-fab {
  bottom: 67px !important;
}

