<ion-content>
  <img
    class="round"
    *ngIf="currentUser"
    [src]="currentUser?.photo || 'assets/images/no-photo.jpg'"
  />

  <h1 class="title" *ngIf="currentUser">Bem vindo, {{ currentUser?.name }}</h1>
  <h2 class="sub-title">Hoje, você tem {{ (tasks$ | async)?.length }} tarefas</h2>
  <h3 class="progress">{{ (dones$ | async)?.length }} Completadas</h3>

  <div class="slides">
    <h4 class="projects">Meus Dados</h4>

    <ion-slides pager="false" [options]="slideOpts" *ngIf="cards$ | async as cards">
      <ion-slide *ngFor="let card of cards">
        <ion-card mode="ios" button="true" [class]="card.important ? 'card-notification' : 'style-btn'" (click)='onCard(card.id, card.medicalPrescription)'>
          <ion-icon class="card-icon" [name]="card.icon"></ion-icon>
          <p class="card-title" no-margin>{{ card.title }}</p>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card mode="ios" button="true" class="organize" (click)="onOrganizeCards()">
          <ion-icon class="card-icon" name="code"></ion-icon>
          <p class="card-title" no-margin>Organizar</p>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="tasks">
    <h4 class="projects">Tarefas</h4>

    <ion-list *ngIf="tasks$ | async as tasks">
      <ng-container *ngIf="tasks.length > 0; else noTasks">
        <ion-item lines="none" *ngFor="let task of tasks">
          <ion-grid>
            <ion-row>
              <ion-label>{{ task.title }}</ion-label>
            </ion-row>
            <ion-row>
              <ion-text color="primary">
                <ion-label class="task-title">{{task.prescriptionTitle}}</ion-label>
              </ion-text>
            </ion-row>
          </ion-grid>
          <ion-checkbox
            slot="start"
            mode="ios"
            [checked]="task.done"
            (ionChange)="onUpdate(task)">
          </ion-checkbox>
        </ion-item>
      </ng-container>
      <ng-template #noTasks>
        <ion-item lines="none">No Task yet...</ion-item>
      </ng-template>
    </ion-list>
  </div>
</ion-content>

 <ion-button id="music" class="button-effect btn-new style-btn animate-btn">Como você se sente?</ion-button>
   <div class="btn-new-bg"></div>
  <div class="btn-new-bg2"></div>

<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button class="style-btn" routerLink="/tasks/create" routerDirection="forward">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
